@model IEnumerable<personelOtomasyon.Models.AkademikIlan>

<h2>Akademik İlanlar</h2>

@if (!Model.Any())
{
    <p>Henüz ilan bulunmamaktadır.</p>
}
else
{
    <div class="row">
        @foreach (var ilan in Model)
        {
            <div class="col-md-6 d-flex">
                <div class="card mb-3 h-100 w-100">
                    <div class="card-body d-flex flex-column">
                        <h5>@ilan.Baslik (@ilan.Kategori)</h5>
                        <p class="flex-grow-1">@ilan.Aciklama</p>
                        <p><strong>Başvuru:</strong> @ilan.BasvuruBaslangicTarihi.ToShortDateString() - @ilan.BasvuruBitisTarihi.ToShortDateString()</p>
                        <div class="mt-auto">
                            <a class="btn btn-primary me-2" asp-action="Basvur" asp-route-id="@ilan.IlanId">Başvuru Yap</a>
                            <a class="btn btn-primary" asp-action="BasvuruDetay" asp-route-id="@ilan.IlanId">Başvuru Detayı</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}
