@model IEnumerable<personelOtomasyon.Models.AkademikIlan>

<h2>Yayındaki İlanlar</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var ilan in Model)
    {
        <div class="col d-flex">
            <div class="card h-100 w-100 @(ViewData["BasvuruDurumu" + ilan.IlanId]?.ToString() == "Başvuruldu" ? "border-success" : "")">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@ilan.Baslik</h5>
                    <p class="card-text"><strong>Temel Alan:</strong> @ilan.TemelAlan</p>
                    <p class="card-text"><strong>Kategori:</strong> @ilan.Kategori</p>
                    <p class="card-text"><strong>Başvuru Tarihleri:</strong> @ilan.BasvuruBaslangicTarihi.ToShortDateString() - @ilan.BasvuruBitisTarihi.ToShortDateString()</p>

                    <div class="mt-auto text-center">
                        @if (ViewData["BasvuruDurumu" + ilan.IlanId]?.ToString() == "Başvuruldu")
                        {
                            <div class="alert alert-success">Başvuruldu</div>
                        }

                        @if (ViewData["BasvuruDurumu" + ilan.IlanId]?.ToString() == "Başvurulmadı")
                        {
                            <a class="btn btn-primary me-2 mb-2" asp-action="Basvur" asp-route-id="@ilan.IlanId">Başvur</a>
                        }

                        <a class="btn btn-outline-primary" asp-action="BasvuruDetay" asp-route-id="@ilan.IlanId">Başvuru Detayları</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>


