@model IEnumerable<personelOtomasyon.Models.AkademikIlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasvuruBaslangicTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasvuruBitisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdminId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasvuruBaslangicTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasvuruBitisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdminId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
